{% extends 'base.html' %}



{% block content %}

<div class="row ms-3 mt-0 mt-1">

  {% for book in books %}

    <div class="card s-3 mt-0 mt-1 g-3" style="width: 18rem;">
      <img src="{{ book.cover }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">{{ book.description|truncate(80) }}</p>
        <a href="{{ url_for('get_book_info', product_id=book.id) }}" class="btn btn-primary">Детальніше</a>
      </div>
    </div>

  {% endfor %}

</div>


{% endblock %}